@import './variables';
@import './functions';
@import './mixins';

#about {
	background: rgb(42, 42, 42);
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box;

	@include responsive_mobile() {
		padding: 0 1rem;
	}
	@include responsive_desktop() {
		padding: 0 5%;
	}
	@include responsive_tablet() {
		padding: 0 10%;
	}
	@include responsive_ipadPro_portrait() {
		padding: 0 10%;
	}
	@include responsive_desktop_large() {
		padding: 0 5%;
	}

	@include responsive_2160p() {
		padding: 0 20%;
	}

	.about-me {
		z-index: 100;
		position: relative;
		padding: 5em;
		height: calc(100vh - 10em);

		a {
			text-decoration: none;
			color: color(text);
		}

		@include responsive_mobile() {
			padding: 5rem 0rem;
		}
		@include responsive_tablet() {
			margin: 0 3rem;
			@include padding(8rem, 2rem, 0, 2rem);
		}
		@include responsive_desktop() {
			margin: 0 4rem;
			@include padding(8rem, 5rem, 0, 5rem);
		}
		@include responsive_ipadPro_portrait() {
			margin: 0 4rem;
			@include padding(8rem, 5rem, 0, 5rem);
		}
		@include responsive_desktop_large() {
			margin: 0 7rem;
			@include padding(8rem, 5rem, 0, 5rem);
		}
		@include responsive_2160p() {
			margin: 0 10rem;
			@include padding(8rem, 10rem, 0, 10rem);
		}

		.title_about {
			animation-name: fadeIn;
			animation-duration: 3s;

			h3 {
				color: color(text);
				z-index: 100;
				text-align: center;

				text-transform: uppercase;
				letter-spacing: 1px;
				text-shadow: 1px 0 2px black;
				letter-spacing: 3px;
				position: relative;
				margin: 1rem 0;
				padding-bottom: 1rem;
			}

			h3:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1.1px;
				background-color: color(hover_h2);
				left: 0;
				background: color(hover_h2);
				background: linear-gradient(
					90deg,
					transparent,
					color(hover_text),
					transparent
				);
				background-repeat: no-repeat;
				background-size: 80%;
				animation: transitionToRight 3s, animate 5s linear infinite;
				bottom: 0;
			}
		}

		.content_about {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			@include padding(2rem, 20px, 2rem, 20px);
			margin: 0 auto;
			@include responsive_mobile() {
				flex-direction: column;
			}
			@include responsive_tablet() {
				flex-direction: column;
			}
			@include responsive_ipadPro_portrait() {
				flex-direction: column;
			}
			.about-1,
			.about-2 {
				display: flex;
				position: relative;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@include responsive_mobile() {
					flex-direction: column;
					width: 100%;
				}

				.about-description {
					padding: 1rem;
					width: 50%;
					@include responsive_mobile() {
						width: 100%;
					}

					@include responsive_tablet() {
						width: 100%;
					}

					h4 {
						text-align: center;
						letter-spacing: 1px;
						padding: 0.5rem 0;
					}

					p {
						flex-wrap: wrap;
						padding: 0 0.5rem;
						width: 100%;
						align-items: center;
						justify-content: center;
					}
				}
			}
			.about-1 {
				margin-bottom: 4rem;
				@include responsive_mobile() {
					text-align: center;
				}

				.about-picture {
					display: flex;
					width: 8rem;
					padding: 1rem;
					img {
						width: 100%;
					}
				}
			}

			.about-2 {
				@include responsive_mobile() {
					text-align: center;
				}

				.overview-tech {
					max-width: 100%;
					/* flex-wrap: wrap; */
					flex-direction: row;
					text-align: center;
					justify-content: center;

					.row {
						display: flex;

						flex-direction: row;
						align-items: center;
						justify-content: center;
						position: relative;
						padding: 1rem;

						.icon-tech {
							display: flex;
							width: 4rem;
							height: auto;
							padding: 0.5rem;
							justify-content: center;
							align-items: center;

							img {
								width: 100%;
								height: 4rem;
							}
						}
					}
				}
			}
		}
	}

	a {
		text-decoration: none;
		color: color(text);

		h6 {
			opacity: 0.7;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			.icon-up {
				padding: 0 10px;
				margin: 0;
				font-size: 1.5rem;
				align-items: center;
				justify-content: center;
			}
		}
	}
	.MuiSvgIcon-root {
		font-size: 4.5rem;
		opacity: 0.7;
	}
	&:hover,
	&:active {
		opacity: 1;
		@include easeOut;
		h6 {
			opacity: 1;
			@include easeOut;
		}
		.MuiSvgIcon-root {
			opacity: 1;
		}
	}
}
