@import './variables';
@import './functions';
@import './mixins';

@import './backdrop.scss';
@import './sideDrawer.scss';
@import './toggleButton.scss';
@import './title.scss';
@import './projects.scss';
@import './projectsExtra.scss';
@import './aboutMe.scss';
@import './fadeIn.scss';
/* @import './nextSection.scss' */
@import './navFooter.scss';
@import './linkButton.scss';
@import './siteFooter.scss';
@import './floatingNav.scss';
@import './modal.scss';

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: color(text);
	@include background;
	background: color(background_overlay);
	line-height: 1.5;
	position: relative;

	main {
		/* padding: 0 2rem; */
		@include responsive_mobile() {
			padding: 0;
		}
		@include responsive_tablet() {
			padding: 0;
		}
	}

	data-react-modal-body-trap {
		z-index: 200;
	}
}
