@import './variables';
@import './functions';
@import './mixins';

#projects {
	background: rgb(42, 42, 42);
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	box-sizing: border-box;
	@include responsive_mobile() {
		padding: 0 1rem;
	}
	@include responsive_desktop() {
		padding: 0 5%;
	}
	@include responsive_tablet() {
		padding: 0 10%;
	}
	@include responsive_ipadPro_portrait() {
		padding: 0 10%;
	}
	@include responsive_desktop_large() {
		padding: 0 5%;
	}

	@include responsive_2160p() {
		padding: 0 20%;
	}
	.wrapper {
		z-index: 100;
		position: relative;
		padding: 5em;
		height: calc(100vh - 10em);
		width: 100%;

		a {
			text-decoration: none;
			color: color(text);
		}

		@include responsive_mobile() {
			padding: 5rem 0rem;
		}
		@include responsive_tablet() {
			@include padding(8rem, 0, 0, 0);
		}
		@include responsive_desktop() {
			@include padding(8rem, 0, 0, 0);
		}
		@include responsive_ipadPro_portrait() {
			@include padding(8rem, 0, 0, 0);
		}
		@include responsive_desktop_large() {
			@include padding(8rem, 0, 0, 0);
		}

		.title-projects {
			animation-name: fadeIn;
			animation-duration: 3s;
			transition: 0.2s;

			h3 {
				color: color(text);
				z-index: 100;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				text-shadow: 1px 0 2px black;
				letter-spacing: 3px;
				position: relative;
				margin: 1rem 0;
				padding-bottom: 1rem;
				margin-bottom: 3rem;
			}

			h3:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1.2px;
				background-color: color(hover_h2);
				left: 0;
				background: color(hover_h2);
				background: linear-gradient(
					90deg,
					transparent,
					color(hover_text),
					transparent
				);
				background-repeat: no-repeat;
				background-size: 80%;
				animation: transitionToRight 3s, animate 5s linear infinite;
				bottom: 0;
			}
		}

		.grid {
			z-index: 100;
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding-bottom: 2rem;
			animation-name: fadeIn;
			animation-duration: 3s;

			.grid-item {
				z-index: 100;
				width: 100%;
				max-width: 50rem;
				display: flex;
				position: relative;
				flex-direction: column;
				margin: auto;
				background: color(background_overlay);

				.project-container {
					overflow: hidden;
					position: relative;
					width: 100%;

					.project-header {
						background-color: none;
						padding: 1.5rem;
						text-align: center;
						.project-name {
							font-size: 1rem;
						}
						.project-text {
							font-size: 0.9rem;
						}
					}
					.project-body {
						display: flex;
						align-items: flex-end;
						.project-img {
							width: 100%;
						}
					}

					.project-overlay-wrapper {
						background: rgba(0, 0, 0, 0.3);
						position: absolute;
						height: 100%;
						width: 100%;
						left: 0;
						top: 0;
						bottom: 0;
						right: 0;
						opacity: 0;
						-webkit-transition: all 0.4s ease-in-out 0s;
						-moz-transition: all 0.4s ease-in-out 0s;
						transition: all 0.4s ease-in-out 0s;
					}
					.project-overlay {
						position: absolute;
						height: 100%;
						top: 0;
						left: 0;
						opacity: 0;
						transform: translateY(-100%);
						transition: all 1s cubic-bezier(0.54, 0.41, 0.43, 1.01);
						transition-timing-function: cubic-bezier(0.35, 0.01, 0, 1);
						background: color(project-overlay);
						color: #f1f1f1;
						font-family: 'Roboto';
						font-weight: 200;

						.project-img {
							display: flex;
							align-items: flex-end;
							position: relative;
							bottom: 0;
							max-width: 100%;
							height: auto;
						}

						.overlay-elements {
							position: relative;
							width: 100%;
							height: 100%;
							justify-content: center;
							text-align: center;
							align-items: center;

							.overlay-container {
								position: relative;
								padding: 0.2rem;
								h6 {
									padding: 0.3rem 0;
									text-transform: uppercase;
									letter-spacing: 2px;
									font-size: 0.8rem;
								}
								.link-source-wrapper {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									margin: 0.3rem 0;

									.link-source {
										text-decoration: none;
										padding: 0;
										cursor: pointer;
										margin: 0 0.5rem;
										outline: none;
										padding: 0.4rem 0.7rem;
										background: none;
										border: 1px solid white;
										color: color(text);
										cursor: pointer;
										text-align: center;
										justify-content: center;
										align-items: center;
										border-radius: 3rem;
										transition: 0.2s;
										text-transform: uppercase;
										letter-spacing: 2px;

										&:hover,
										&.active {
											background: color(shadow_colour);
											border: 1px solid color(shadow_colour);
											transition: 0.2s;
										}
									}
									&:hover,
									&.active {
										cursor: pointer;
									}
								}

								.project-info-wrapper {
									display: block;
									position: relative;
									width: 100%;
									height: auto;
									right: 3rem;
									top: 0.5rem;
									margin: 0;
									padding: 0 0.5rem;
									justify-content: right;
									text-align: right;
									align-items: right;
									/* clip-path: polygon(0% 0%, 100% 0, 99% 50%, 98% 100%, 0% 100%); */

									.project-info {
										display: inline-flex;
										flex-direction: row;
										text-transform: uppercase;
										font-size: 0.8rem;
										div {
											margin: 0.3rem 0.4rem;
										}
									}
								}
							}
						}
					}

					&:hover,
					&.active {
						.project-overlay-wrapper {
							opacity: 1;
						}
						.project-overlay {
							top: 100%;
							left: 0%;
							opacity: 1;

							.project-info-wrapper {
								background: color(shadow_colour);
								animation: comingProjectDesc 1.5s
									cubic-bezier(0.64, 0.04, 0, 0.95);
							}
						}
					}
				}
			}
		}

		.collapse {
			width: 100%;
			.MuiFormControlLabel-root {
				padding: 3rem 0;
			}

			.show-more-button {
				position: relative;
				display: flex;
				justify-content: center;
				margin: 2rem;

				button {
					background: none;
					border: 1px solid color(hover_text);
					border-radius: 2rem;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.8rem 2rem;
					overflow: hidden;
					position: relative;
					cursor: pointer;
					transition: all 0.5s ease-in-out;
					outline: none;

					span {
						position: absolute;
						width: 100%;
						background: color(hover_text);
						color: #f1f1f1;
						text-align: center;
						line-height: 80px;
						z-index: 99;
						transition: all 0.5s ease-in-out;
						font-size: 0.8rem;
						text-transform: uppercase;
						letter-spacing: 4px;
						font-family: 'Roboto';
						font-weight: 200;
						align-items: center;
						justify-content: center;
					}

					h6 {
						font-size: 0.8rem;
						align-items: center;
						justify-content: center;
						text-transform: uppercase;
						letter-spacing: 4px;
						font-family: 'Roboto';
						color: color(text);
						font-weight: 200;
					}

					&.active {
						border: 1px solid color(text);
					}
				}

				.active {
					span {
						transform: translateX(100%);
						transition-timing-function: cubic-bezier(0.35, 0.01, 0, 1);
					}
				}
			}
		}
	}
}
